.facts {
  position: relative;
}
.facts__top {
  padding-bottom: rem(40px);
  background-color: $bg-2;
}
.facts__sec-pict {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 40;
  transform: translate(-50%, -50%) rotate(45deg);
  width: rem(54px);
  height: rem(54px);
  background-color: $accent;
  border-radius: 3px;
  svg {
    position: absolute;
    top: rem(-18px);
    left: rem(-17px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    fill: #fff;
  }
}
.facts__sec-icon {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.facts__header {
  position: relative;
  margin-bottom: rem(40px);
  padding-top: rem(80px);
  text-align: center;
  z-index: 60;
}
.facts__title {
  position: relative;
  @include inline-block($valign: top);
  padding: 0 rem(20px);
  margin-bottom: rem(15px);
  font-family: $raleway-extrabold;
  font-size: rem(26px);
  line-height: rem(20px);
  color: $gray-5;
  background-color: transparent;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 50;
  & b {
    color: $accent;
  }
}
.facts__intro {
  font-size: rem(16px);
  font-weight: 500;
  line-height: rem(16px);
   color: #7a7a7a;
}
.facts__hexagon-left,
.facts__hexagon-right {
  position: absolute;
  top: rem(1px);
  left: rem(-18px);
  width: rem(15px);
  height: rem(15px);
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 100;
  background-color: $accent;
}
.facts__hexagon-left--md,
.facts__hexagon-right--md {
  top: rem(2px);
  left: rem(-30px);
  width: rem(12px);
  height: rem(12px);
  background-color: $bg-8;
  z-index: 90;
}
.facts__hexagon-left--sm,
.facts__hexagon-right--sm {
  top: rem(3.5px);
  left: rem(-38px);
  width: rem(9px);
  height: rem(9px);
  background-color: $bg-9;
  z-index: 80;
}
.facts__hexagon-right {
  left: rem(250px);
}
.facts__hexagon-right--md {
  left: rem(265px);
}
.facts__hexagon-right--sm {
  left: rem(276px);
}
.facts__list {
  @extend %ul-reset;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding-bottom: rem(75px);
}
.facts__item {
  position: relative;
  width: 23%;
  text-align: center;
  background-color: transparent;
}
.facts__item:hover {
  .facts__brill {
    &:before, &:after {
      background-color: $accent;
    }
  }
}
.facts__number {
  flex-basis: 130px;
  color: $gray-5;
  font-family: $raleway-medium;
  font-size: rem(80px);
  line-height: 1;
  font-weight: 500;
  text-transform: uppercase;
}
.facts__card {
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: rem(80px);
  line-height: 1;
  margin-bottom: rem(30px);
}
.facts__brill {
  position: relative;
  display: block;
  flex-basis: 20px;
  text-indent: -9999px;
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: rem(5px);
    transform: translateY(-50%) rotate(45deg);
    display: block;
    width: rem(14px);
    height: rem(14px);
    background-color: #484848;
  }
  &--prev {
    margin-left: 5%;
  }
  &--next {
    margin-right: 5%;
  }
}
.facts__number-icon {
  position: relative;
  display: block;
    width: 100%;
    height: rem(2px);
    margin-bottom: rem(27px);
    background-color: #606060;
}
.facts__number-img {
  top: 0;
  transform: translateY(-50%);
  display: inline-block;
  vertical-align: top;
  width: rem(18px);
  height: rem(18px);
  padding: 0 rem(10px);
  background-color: $bg-2;
  svg {
    fill: $accent;
  }
}
.facts__subject {
  color: $gray-3;
  font-family: $raleway-bold;
  font-size: rem(14px);
  line-height: rem(16px);
  text-transform: uppercase;
}
.facts__bottom {
  @extend %clearfix;
  background-color: #3498db;
}
.facts__bottom-left {
  max-width: 650px;
  width: 55%;
  float: left;
  padding: rem(20px) 0;
  color: $gray-5;
  font-family: $raleway-extrabold;
  font-size: rem(16px);
  line-height: rem(40px);
  font-weight: 700;
  text-transform: uppercase;
}
.facts__bottom-right {
  float: right;
  text-align: right;
  font-size: 0;
}
.facts__bottom-btn {
  padding: rem(5px) rem(14px);
  margin: rem(20px) 0;
  margin-left: rem(10px);
  color: $gray-3;
  font-size: rem(13px);
  font-weight: 700;
  background-color: #e4e4e4;
  &:first-child {
    margin-left: 0;
  }
}
.facts__btn {
  display: none;
  margin-top: rem(40px);
  margin-bottom: rem(40px);
  margin: 0 auto;
  width: 100%;
  height: rem(40px);
  background-color: $accent;
  color: #e4e4e4;
  font-family: $raleway-extrabold;
  font-size: rem(13px);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border-color: transparent;
  border-radius: 5px;
  &:hover {
    background-color: $accent-active;
  }
}
@media screen and #{($laptop-point-widths-des)} {
  .facts__list {
   justify-content: space-around;
   padding-bottom: 20px;
  }
  .facts__item {
    width: 30%;
    margin-bottom: rem(20px);
  }


}
@media screen and #{($tablet-point-widths-des)} {
  .facts__item {
    width: 45%;
    &:nth-child(n+5) {
      display: none;
    }
  }
  .facts__bottom-left {
    float: none;
    width: 100%;
    text-align: center;
  }
  .facts__bottom-right {
    float: none;
    text-align: center;
  }
  .facts__bottom-btn {
    margin-left: rem(30px);
    margin-right: rem(30px);
  }
}
@media screen and #{($phone-point-widths-des)} {
  .facts__item {
    width: 80%;
    &:nth-child(n+3) {
      display: none;
    }
  }
  .facts__btn {
    display: block;
  }
  .facts__bottom {
    padding-bottom: 10px;
  }
  .facts__bottom-btn {
    display: block;
    margin: rem(35px) 0;
  }
}
