.features {
  position: relative;
  min-height: 620px;
  color: $light-2;
  background-color: $bg-2;
}
.features-wrap {
  background-image: url("../img/bg/bg-features@1x.png");
  background-repeat: no-repeat;
  background-position: right 170%;
  background-size: 60%;
  @media #{$retina} {
      background-image: url("../img/bg/bg-features@2x.png");
  }
}
.features__sec-pict {
  position: absolute;
  top: -27px;
  left: 50%;
  z-index: 40;
  transform: translateX(-50%) rotate(45deg);
  width: 54px;
  height: 54px;
  background-color: $accent;
  border-radius: 3px;
  svg {
    position: absolute;
    top: 13px;
    left: -10px;
    transform: rotate(-12deg);
    fill: #fff;
  }
}
.features-sec__icon {
  position: absolute;
  z-index: 30;
  // top: 50%;
  // left: 50%;
  top: 5px;
  left: 5px;
  // transform: translate(-50%, -50%);
  transform: rotate(-30deg);
}
.features__header {
  position: relative;
  margin-bottom: 80px;
  padding-top: 77px;
  text-align: center;
  z-index: 60;
}
.features__title {
  position: relative;
  @include inline-block($valign: top);
  padding: 0 20px;
  font-family: $raleway-extrabold;
  @include font-size-rem(26);
  line-height: 20px;
  color: $light-2;
  background-color: transparent;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 50;
  & b {
    color: $accent;
  }
}
.features__intro {
  @include font-size-rem(16);
  font-weight: 500;
  line-height: 16px;
}

.features__hexagon-left,
.features__hexagon-right {
  position: absolute;
  top: 1px;
  left: -18px;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 100;
  background-color: $accent;
}
.features__hexagon-left--md,
.features__hexagon-right--md {
  top: 2px;
  left: -30px;
  width: 12px;
  height: 12px;
  background-color: $bg-8;
  z-index: 90;
}
.features__hexagon-left--sm,
.features__hexagon-right--sm {
  top: 3.5px;
  left: -38px;
  width: 9px;
  height: 9px;
  background-color: $bg-9;
  z-index: 80;
}
.features__hexagon-right {
  left: 299px;
}
.features__hexagon-right--md {
  left: 312px;
}
.features__hexagon-right--sm {
  left: 324px;
}
.features__list {
  display: inline-block;
  vertical-align: top;
  @include ul-reset();

}
.features__item {
  @extend %clearfix;
  min-height: 100px;
  width: 100%;
  margin-bottom: 60px;
  text-align: left;
}
.features__item-left {
  float: left;
  width: 17%;
}
.features__item-right {
  float: left;
  width: 76%;
  padding: 0 3.4%;
}
.features__item-right {
  text-align: left;
}
.features__image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 70px;
  max-height: 60px;
  background-color: transparent;
}
.features__item-icon {
  padding-top: 10px;
  svg {
    fill: $accent;
  }
}
.features__caption {
  margin-bottom: 10px;
  @include font-size-rem(14);
  font-weight: 700;
  font-family: $raleway-bold;
  color: $light-2;
  text-transform: uppercase;
}
.features__item-text {
  margin-bottom: 20px;
  @include font-size-rem(14);
  line-height: 24px;
  font-family: $raleway-medium;
  font-weight: 500;
  color: $gray-1;
}
