.features {
  position: relative;
  color: $light-2;
  background-color: $bg-2;
}
.features-wrap {
  background-image: url("../img/bg/bg-features@1x.png");
  background-repeat: no-repeat;
  background-position: right bottom;
  background-size: 60%;
  transition: all .8s ease;
  @media #{$retina} {
      background-image: url("../img/bg/bg-features@2x.png");
  }
}
.features__sec-pict {
  position: absolute;
  top: rem(-27px);
  left: 50%;
  z-index: 40;
  transform: translateX(-50%) rotate(45deg);
  width: rem(54px);
  height: rem(54px);
  background-color: $accent;
  border-radius: 3px;
  svg {
    position: absolute;
    top: rem(13px);
    left: rem(-10px);
    transform: rotate(-8deg);
    fill: #fff;
  }
}
.features-sec__icon {
  position: absolute;
  z-index: 30;
  top: rem(5px);
  left: rem(5px);
  transform: rotate(-30deg);
}
.features__header {
  position: relative;
  margin-bottom: rem(80px);
  padding-top: rem(77px);
  text-align: center;
  z-index: 60;
}
.features__title {
  position: relative;
  @include inline-block($valign: top);
  padding: 0 rem(20px);
  margin-bottom: rem(15px);
  font-family: $raleway-extrabold;
  font-size: rem(26px);
  line-height: rem(20px);
  color: $light-2;
  background-color: transparent;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 50;
  & b {
    color: $accent;
  }
}
.features__intro {
  font-size: rem(16px);
  font-weight: 500;
  line-height: rem(16px);
}

.features__hexagon-left,
.features__hexagon-right {
  position: absolute;
  top: rem(1px);
  left: rem(-18px);
  width: rem(15px);
  height: rem(15px);
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 100;
  background-color: $accent;
}
.features__hexagon-left--md,
.features__hexagon-right--md {
  top: rem(2px);
  left: rem(-30px);
  width: rem(12px);
  height: rem(12px);
  background-color: $bg-8;
  z-index: 90;
}
.features__hexagon-left--sm,
.features__hexagon-right--sm {
  top: rem(3.5px);
  left: rem(-38px);
  width: rem(9px);
  height: rem(9px);
  background-color: $bg-9;
  z-index: 80;
}
.features__hexagon-right {
  left: rem(299px);
}
.features__hexagon-right--md {
  left: rem(312px);
}
.features__hexagon-right--sm {
  left: rem(324px);
}
.features__list {
  @extend %ul-reset;
  max-width: rem(400px);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;

}
.features__item {
  @extend %clearfix;
  width: 100%;
  margin-bottom: rem(60px);
  text-align: left;
}
.features__item-left {
  float: left;
  width: 17%;
}
.features__item-right {
  float: left;
  width: 76%;
  padding: 0 3.4%;
}
.features__item-right {
  text-align: left;
}
.features__image {
  position: relative;
  display: inline-block;
  vertical-align: top;
  max-width: 70px;
  max-height: 60px;
  background-color: transparent;
}
.features__item-icon {
  padding-top: rem(10px);
  svg {
    fill: $accent;
  }
}
.features__caption {
  margin-bottom: rem(10px);
  font-size: rem(14px);
  font-weight: 700;
  font-family: $raleway-bold;
  color: $light-2;
  text-transform: uppercase;
}
.features__item-text {
  margin-bottom: rem(20px);
  font-size: rem(14px);
  line-height: rem(24px);
  font-family: $raleway-medium;
  font-weight: 500;
  color: $gray-1;
}
.features-product {
  height: 300px;
  background-image: url("../img/bg/bg-features@1x.png");
  background-repeat: no-repeat;
  background-position: right 170%;
  background-position: right rem(265px);
  background-size: 60%;
  transition: all .8s ease;
  @media #{$retina} {
      background-image: url("../img/bg/bg-features@2x.png");
  }
}
@media screen and #{($laptop-point-widths-des)}{
  .features__list {
    flex-flow: row wrap;
    max-width: 100%;
    padding-bottom: rem(200px);
  }
  .features__item {
    width: 50%;
  }
}
@media screen and #{($tablet-point-widths-des)}{
  .features-wrap {
    background-position: center bottom;
  }
  .features__list {
    padding-bottom: rem(130px);
  }
}
@media screen and #{($phone-point-widths-des)}{
  .features-wrap {
    background-size: contain;
  }
  .features__list {
    flex-flow: row wrap;
    padding-bottom: rem(350px);
    margin: 0 5%;
  }
  .features__item {
    width: 100%;
    &:last-child {
      margin-bottom: 0;
    }
  }
  .features__hexagon-right,
  .features__hexagon-left {
    display: none;
  }
}
