.feedback {
  position: relative;
  background-color: $accent;
}
.feedback__sec-pict {
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 40;
  transform: translate(-50%, -50%) rotate(45deg);
  width: rem(54px);
  height: rem(54px);
  background-color: $bg-2;
  border-radius: 3px;
  svg {
    position: absolute;
    top: rem(-18px);
    left: rem(-17px);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(135deg);
    fill: #fff;
  }
}
.feedback__sec-icon {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.feedback__list {
  @extend %ul-reset;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.feedback__block {
  position: relative;
  padding-top: rem(75px);
  padding-bottom: rem(80px);
}
.feedback__item {
  width: 100%;
  position: relative;
  text-align: center;
  padding-bottom: rem(25px);
}
.feedback__btn {
  @include inline-block($valign: top);
  margin-bottom: rem(25px);
  padding: rem(5px) rem(11px);
  color: $accent;
  background-color: $light-2;
  font-size: rem(13px);
  text-transform: uppercase;
  border-radius: 4px;
  border: none;
  & span {
    color: $gray-6;
    font-size: rem(12px);
    font-weight: 500;
    font-style: italic;
  }
  &:hover {
    background-color: $bg-2;
  }
}
.feedback__quote {
  position: relative;
  display: block;
  margin: 0 rem(10px);
  color: $gray-5;
  font-size: rem(20px);
  line-height: rem(34px);
  font-family: $raleway-medium;
  font-weight: 500;
  &:before {
    content: "\201C";
    color: $gray-5;
    font-size: rem(50px);
    line-height: rem(34px);
  }
  &:after {
    content: "\201D";
    color: $gray-5;
    font-size: rem(50px);
    line-height: rem(34px);
  }
}
.feedback__arrows {
  height: 30px;
  @extend %clearfix;
}
.feedback__arrows-box-left,
.feedback__arrows-box-right {
  position: relative;
  width: 49%;
}
.feedback__arrows-box-left {
  float: left;
}
.feedback__arrows-box-right {
  float: right;
}
.feedback__arrow-prev {
  position: relative;
  width: rem(30px);
  height: rem(30px);
  margin-left: auto;
  text-indent: -9999px;
  background-color: $gray-5;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $bg-2;
    &::after {
      border-right: rem(12px) solid $gray-5;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: rem(7px);
    left: rem(1px);
    border: rem(8px) solid transparent;
    border-right: rem(12px) solid $accent;
  }
}
.feedback__arrow-next {
  position: relative;
  margin-right: auto;
  width: rem(30px);
  height: rem(30px);
  text-indent: -9999px;
  background-color: $gray-5;
  border-radius: 4px;
  cursor: pointer;
  &:hover {
    background-color: $bg-2;
    &::after {
      border-left: rem(12px) solid $gray-5;
    }
  }
  &::after {
    content: "";
    position: absolute;
    top: rem(7px);
    left: rem(11px);
    border: rem(8px) solid transparent;
    border-left: rem(12px) solid $accent;
  }
}
@media screen and #{($laptop-point-widths-des)} {

}
@media screen and #{($tablet-point-widths-des)} {
  .feedback__block {
    padding-top: rem(70px);
    padding-bottom: rem(30px);
  }
  .feedback__arrows {
    margin: 20px 0;
  }
  .feedback__arrows-box-left,
  .feedback__arrows-box-right {
    width: 45%;
  }
}
@media screen and #{($phone-point-widths-des)} {
  .feedback__arrows {
    display: none;
  }
}
