.footer {
  position: relative;
}
.footer__top {
  min-height: 170px;
  background-color: $light-2;
  background-image: url("../img/bg/bg-pricses.jpg");
  @include cover();
  @media #{$retina} {
    background-image: url("../img/bg/bg-pricses@2x.jpg");
  }
}
.footer__top-wrap {
  @extend %clearfix;
  min-height: 170px;
  background-image: url("../img/bg/bg-pricses2@1x.png");
  background-repeat: no-repeat;
  background-position: left 10px;
  @media #{$retina} {
    background-image: url("../img/bg/bg-pricses2@2x.png");
  }
}
.footer__top-text {
  display: block;
  float: left;
  max-width: 75%;
  padding-top: 65px;
  margin-left: 135px;
  color: $gray-4;
  font-family: $raleway-bold;
  @include font-size-rem(26);
  font-weight: 700;
  line-height: 20px;
  span {
    display: inline-block;
    vertical-align: top;
    text-transform: uppercase;
  }
}
.footer__top-button {
  float: right;
}
.footer__top-icon {
  display: inline-block;
  vertical-align: top;
  line-height: inherit;
  svg {
    fill: $accent;
  }
}
.footer__top-button {
  margin-top: 60px;
}
.footer__top-btn {
  vertical-align: middle;
  padding: 5px 16px;
  @include font-size-rem(13);
  color: $gray-5;
  background-color: $accent;
  border: none;
  &:hover {
    background-color: $accent-active;
  }
}
.footer__top-button-icon {
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
  line-height: 20px;
  svg {
    fill: $gray-5;
  }
}
.footer__socials {
  background-color: $bg-2;
}
.footer__socials-logo {
  padding-top: 40px;
  margin-bottom: 50px;
  text-align: center;
}
.footer__socials-logo-link {
  max-width: 267px;
  max-height: 69px;
}
.footer__socials-wrap {
  padding-bottom: 65px;
}
.footer__contacts {
  position: relative;
}
.footer__map {
  min-height: 500px;
  filter: grayscale(100%);
  filter: gray;
}
.footer__copyright {
  padding: 50px 0 35px 0;
  @include font-size-rem(16);
  line-height: 1;
  letter-spacing: 1px;
  font-weight: 700;
  text-align: center;
  color: $gray-5;
  background-color: $bg-2;
}
