.header {
  position: relative;
  color: $gray-1;
  background-color: $bg-3;
  background-image: url("../img/bg/bg-header.jpg");
  @extend %cover;
  @media #{$retina} {
    background-image: url("../img/bg/bg-header@2x.jpg");
  }
}
.header__block {
  position: relative;
  max-width: rem(630px);
  padding-top: rem(223px);
  padding-bottom: rem(223px);
  font-size: rem(18px);
  font-weight: 500;
  font-family: $raleway-regular;
  text-transform: uppercase;
  text-align: center;
  color: $gray-4;
  transition: all .8s ease;
}
.header__some-text {
  font-weight: 700;
  text-align: center;
}
.header__title {
  margin-bottom: rem(20px);
  font-size: rem(64px);
  line-height: 1;
  font-family: $raleway-extrabold;
  font-weight: 800;
  text-align: left;
  text-align: center;
}
.header__desc {
  margin-bottom: rem(50px);
  color: $gray-5;
  background-color: $bg-5;
  border-radius: 4px;
  line-height: 2;
  span {
    font-size: rem(20px);
    font-weight: 700;
  }
}
.header__info {
  position: relative;
  margin-bottom: rem(50px);
  color: $light-3;
  font-family: $raleway-extrabold;
  font-size: rem(26px);
  line-height: rem(16px);
  text-transform: uppercase;

}
.header__line-left,
.header__line-right {
  &::before, &::after {
    content: "";
    position: absolute;
    top: rem(5px);
    left: 0;
    margin: 0;
    width: 19.3%;
    height: rem(1px);
    background-color: $light-1;
    background-image: $bg-gradient;
    z-index: 80;
  }
  &::after {
    top: rem(10px);
  }
}
.header__line-right {
  &::before, &::after {
    left: rem(504px);
  }
}
.header__info-text {
  position: relative;
  @include inline-block($valign: top);
  padding: 0 rem(20px);
  font-size: rem(26px);
  font-weight: 700;
  z-index: 50;
  b {
    color: $gray-4;
  }
}
.header__hexagon-left,
.header__hexagon-right {
  position: absolute;
  top: rem(1px);
  left: rem(-17px);
  width: rem(15px);
  height: rem(15px);
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 100;
  background-color: $bg-1;
}
.header__hexagon-left--md,
.header__hexagon-right--md {
  top: rem(2px);
  left: rem(-28px);
  width: rem(12px);
  height: rem(12px);
  background-color: $bg-6;
  z-index: 90;
}
.header__hexagon-left--sm,
.header__hexagon-right--sm {
  top: rem(3.5px);
  left: rem(-36px);
  width: rem(9px);
  height: rem(9px);
  background-color: $bg-7;
  z-index: 80;
}
.header__hexagon-right {
  left: rem(288px);
}
.header__hexagon-right--md {
  left: rem(300px);
}
.header__hexagon-right--sm {
  left: rem(310px);
}
.header__icon svg {
  width: rem(58px);
  height: rem(58px);
  fill: #fff;
}

@media screen and #{($laptop-point-widths-des)}{
  .header__block {
    max-width: rem(500px);
    padding-top: rem(170px);
    padding-bottom: rem(170px);
  }
  .header__title {
    margin-bottom: rem(15px);
    font-size: rem(52px);
  }
  .header__some-text {
    font-size: rem(16px);
  }
  .header__desc {
    margin-bottom: rem(35px);
    font-size: rem(16px);
    span {
      font-size: rem(16px);
    }
  }
  .header__info {
    margin-bottom: rem(30px);
    font-size: rem(20px);
  }
  .header__line-right {
    &::before, &::after {
      left: rem(480px);
    }
  }
  .header__icon svg {
    width: rem(40px);
    height: rem(40px);
  }
  .header__line-left,
  .header__line-right {
    display: none;
  }
}
@media screen and #{($tablet-point-widths-des)} {
  .header__block {
    max-width: rem(400px);
    padding-top: rem(100px);
    padding-bottom: rem(100px);
  }
  .header__title {
    font-size: rem(44px);
  }
  .header__desc {
    display: none;
  }
  .header__info-text {
    padding: 0 rem(10px);
    font-size: rem(20px);
  }
  .header__hexagon-right {
    left: rem(215px);
  }
  .header__hexagon-right--md {
    left: rem(227px);
  }
  .header__hexagon-right--sm {
    left: rem(237px);
  }
  .header__line-right {
    &::before, &::after {
      left: rem(380px);
    }
  }
  .header__icon svg {
    width: rem(32px);
    height: rem(32px);
  }
  .header__some-text {
    display: none;
  }
}
@media screen and #{($phone-point-widths-des)} {
  .header__block {
    max-width: rem(350px);
  }
  .header__hexagon-left,
  .header__hexagon-right {
    display: none;
  }
}
