.members {
  position: relative;
  margin-bottom: rem(105px);
  background-color: $bg-3;
}
.members__header {
  position: relative;
  margin-bottom: rem(40px);
  padding-top: rem(80px);
  text-align: center;
  z-index: 60;
  &::before, &::after {
    content: "";
    position: absolute;
    top: rem(84px);
    left: 0;
    margin: 0;
    width: 100%;
    height: rem(1px);
    background-color: #dedede;
    background-image: linear-gradient(to right, #f9f9f9 0%, transparent 20%,
      transparent 50%, transparent 80%, #f9f9f9 100%);
    z-index: 40;
  }
  &::after {
    top: rem(93px);
  }
}
.members__title {
  position: relative;
  @include inline-block($valign: top);
  padding: 0 rem(60px);
  margin-bottom: rem(15px);
  font-family: $raleway-extrabold;
  font-size: rem(26px);
  line-height: rem(20px);
  color: $accent;
  background-color: $bg-3;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 50;
  & b {
    color: $gray-4;
  }
}
.members__intro {
  font-size: rem(16px);
  font-weight: 500;
  line-height: 1;
  color: #7a7a7a;
}
.members__hexagon-left,
.members__hexagon-right {
  position: absolute;
  top: rem(1px);
  left: rem(25px);
  width: rem(15px);
  height: rem(15px);
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 100;
  background-color: $accent;
}
.members__hexagon-left--md,
.members__hexagon-right--md {
  top: rem(2px);
  left: rem(17px);
  width: rem(12px);
  height: rem(12px);
  background-color: $bg-8;
  z-index: 90;
}
.members__hexagon-left--sm,
.members__hexagon-right--sm {
  top: rem(3.5px);
  left: rem(11px);
  width: rem(9px);
  height: rem(9px);
  background-color: $bg-9;
  z-index: 80;
}
.members__hexagon-right {
  left: rem(286px);
}
.members__hexagon-right--md {
  left: rem(296px);
}
.members__hexagon-right--sm {
  left: rem(305px);
}
.members__block {
  position: relative;
}
.members__list {
  @extend %ul-reset;
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  align-items: center;
}
.members__item {
  position: relative;
  max-width: 23%;
  text-align: center;
  border: 1px solid #dedede;
  border-radius: 5px;
  &:first-child {
    margin-left: 0;
  }
  &:hover {
    .members__overlay {
      opacity: 1;
      border-radius: 5px;
      transition: opacity .4s ease;
    }
    .members__item-name {
      background-color: $bg-2
    }
    .members__mail {
      color: $accent;
    }
  }
}
.members__pict {
  position: relative;
  max-width: rem(270px);
  max-height: rem(270px);
  overflow: hidden;
  background-color: $gray-2;
}
.members__info {
  position: relative;
  margin: 0 1%;
  text-align: center;
}
.members__item-name {
  position: absolute;
  top: rem(-20px);
  left: 50%;
  z-index: 30;
  transform: translateX(-50%);
  @include inline-block($valign: top);
  width: rem(136px);
  height: rem(40px);
  font-size: rem(13px);
  line-height: rem(40px);
  font-weight: 700;
  font-family: $raleway-extrabold;
  text-transform: uppercase;
  color: $gray-5;
  background-color: $accent;
  border-radius: 4px;
}
.members__position {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding-top: rem(32px);
  padding-bottom: rem(8px);
  margin-bottom: rem(16px);
  color: $gray-3;
  font-size: rem(12px);
  line-height: rem(22px);
  font-family: $raleway-medium;
  font-weight: 500;
  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: rem(1px);
    background-color:  #ebebeb;
  }
}
.members__mail,
.members__tell {
  display: block;
  margin-bottom: rem(8px);
  color: $gray-6;
  font-family: $raleway-regular;
  font-size: rem(12px);
  font-weight: 500;
  line-height: rem(20px);
  text-decoration: none;
  svg {
    fill: $gray-6;
  }
}
.members__mail-icon {
  display: inline-block;
  vertical-align: middle;
  padding-right: rem(17px);
  padding-right: 11%;
}
.members__overlay {
  opacity: 0;
  @extend %absolute-center;
  background-color: $bg-4;
  & .socials {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.members__arrows {
  position: absolute;
  top: -24%;
  width: 100%;
  z-index: 60;
  cursor: pointer;
}
.members__arrows-left {
  position: absolute;
  left: 0;
  width: rem(30px);
  height: rem(30px);
  text-indent: -9999px;
  background-color: $bg-2;
  border-radius: 4px;
  &:hover {
    background-color: $accent;
  }
  &::after {
    content: "";
    position: absolute;
    top: rem(7px);
    left: 0;
    border: rem(8px) solid transparent;
    border-right: rem(12px) solid $gray-5;
  }
}
.members__arrows-right {
  position: absolute;
  right: 0;
  width: rem(30px);
  height: rem(30px);
  text-indent: -9999px;
  background-color: $bg-2;
  border-radius: 4px;
  &:hover {
    background-color: $accent;
  }
  &::after {
    content: "";
    position: absolute;
    top: rem(7px);
    left: rem(11px);
    border: rem(8px) solid transparent;
    border-left: rem(12px) solid $gray-5;
  }
}
