.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.menu__toggle {
  position: absolute;
  top: 0;
  right: rem(90px);
  z-index: 20;
  display: none;
  width: rem(70px);
  height: rem(50px);
  font-size: 0;
  background-color: $accent;
  transition: 0.5s ease;
  border: none;
  outline: none;
  cursor: pointer;
  &:before {
    content: "";
    position: absolute;
    top: rem(14px);
    left: rem(15px);
    width: rem(40px);
    height: rem(4px);
    background-color: #fff;
    box-shadow: 0 rem(10px) 0 0 #fff, 0 rem(20px) 0 0 #fff;
    transition: 0.5s ease;
  }
  &:hover {
    background-color: $accent-active;
  }

  &:active {
    background-color: $accent-active;
  }
}
.menu__list {
  @extend %ul-reset;
  max-width: rem(635px);
  z-index: 100;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.menu__item {
  align-self: center;
  margin-bottom: rem(10px);
}
.menu__link {
  display: block;
  padding: rem(10px) rem(15px);
  font-size: rem(14px);
  font-family: $raleway-bold;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  color: $gray-3;
  background-color: transparent;
  border-radius: 4px;
  transition: 0.3s ease;
  cursor: pointer;
  box-sizing: border-box;
  &:hover {
    color: $light-2;
    background-color: $accent;
  }
  &:active {
    color: $light-2;
    background-color: $accent-active;
  }
  &--active {
    color: $light-2;
    background-color: $accent;
  }
}
@media screen and #{($tablet-point-widths-des)} {
  .menu__toggle {
    display: block;
    top: rem(-25px);
    right: rem(21px);
  }
  .menu__list {
    display: block;
    position: absolute;
    top: rem(-25px);
    left: rem(-393px);
    visibility: hidden;
    width: rem(300px);
    height: rem(400px);
    border: 1px solid $accent;
    background-color: $bg-3;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }
  .menu__item {
    display: block;
    align-self: auto;
    margin-bottom: 0;
    &:last-child {
      .menu__link {
        border-bottom: none;
      }
    }
  }
  .menu__link {
    padding: rem(15px);
    color: $gray-2;
    border-radius: 0;
    border-bottom: 1px solid $gray-6;
    transition: none;
    &--active {
      color: $light-3;
      &:hover {
        background-color: $accent;
      }
    }
  }
  .menu--opened {
    .menu__toggle {
      &:after,
      &:before {
        content: "";
        position: absolute;
        top: rem(23px);
        left: rem(15px);
        width: rem(40px);
        height: rem(4px);
        box-shadow: none;
        background-color: #fff;
        transition: 0.5s ease;
      }
      &::before {
        transform: rotate(45deg);
      }
      &::after {
        transform: rotate(-45deg);
      }
    }
    .menu__list {
      visibility: visible;
    }
  }
  .menu--closed {
    .menu__list {
      visibility: hidden;
    }
  }
  .menu--closed {
    .search {
      display: none;
    }
  }
}

@media screen and #{($phone-point-widths-des)}{
  .menu__list {
    width: rem(300px);
    top: rem(-25px);
    left: rem(-384px);
  }
}
