.offer {
  position: relative;
  background-color: #f9f9f9;
}
.offer__top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: rem(80px);
  padding: rem(16px) 0;
  border-bottom: 2px solid $light-1;
  box-sizing: border-box;
}
.offer__top .logo {
  max-width: rem(250px);
}
.offer__top .menu {
  max-width: rem(750px);
}
.offer__top .search {
  max-width: rem(40px);
}
.offer__bottom {
  position: relative;
  padding-bottom: rem(110px);
}
.offer__header {
  position: relative;
  margin-bottom: rem(40px);
  text-align: center;
  z-index: 60;
  &::before, &::after {
    content: "";
    position: absolute;
    top: rem(5px);
    left: 0;
    margin: 0;
    width: 100%;
    height: rem(1px);
    background-color: $light-1;
    background-image: $bg-gradient;
    z-index: 40;
  }
  &::after {
    top: rem(11px);
  }
}
.offer__title {
  position: relative;
  @include inline-block($valign: top);
  font-family: $raleway-extrabold;
  padding: 0 rem(70px);
  margin-bottom: rem(15px);
  font-size: rem(26px);
  line-height: rem(20px);
  color: $gray-4;
  background-color: $bg-3;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 50;
  & b {
    color: $accent;
  }
}
.offer__intro {
  font-size: rem(16px);
  font-weight: 500;
  line-height: 1;
}
.offer__hexagon-left,
.offer__hexagon-right {
  position: absolute;
  top: rem(1px);
  left: rem(30px);
  width: rem(15px);
  height: rem(15px);
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 100;
  background-color: $accent;
}
.offer__hexagon-left--md,
.offer__hexagon-right--md {
  top: rem(2px);
  left: rem(20px);
  width: rem(12px);
  height: rem(12px);
  background-color: $bg-8;
  z-index: 90;
}
.offer__hexagon-left--sm,
.offer__hexagon-right--sm {
  top: rem(3.5px);
  left: rem(12px);
  width: rem(9px);
  height: rem(9px);
  background-color: $bg-9;
  z-index: 80;
}
.offer__hexagon-right {
  left: rem(310px);
}
.offer__hexagon-right--md {
  left: rem(322px);
}
.offer__hexagon-right--sm {
  left: rem(332px);
}
.offer__list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  @extend %ul-reset;
}
.offer__item {
  min-height: rem(250px);
  width: 31.62%;
  margin-left: 2.5%;
  text-align: center;
  &:nth-child(3n-2) {
    margin-left: 0;
  }
  &:hover {
    .offer__image,
    .offer__btn {
      color: $light-2;
      background-color: $accent;
    }
    .offer__btn:active {
      color: $light-2;
      background-color: $accent-active;
    }
  }
}
.offer__image {
  position: relative;
  display: block;
  margin: 0 auto;
  margin-bottom: rem(30px);
  width: rem(100px);
  height: rem(100px);
  border-radius: 50%;
  background-color: $bg-2;
}
.offer__item-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  svg {
    vertical-align: middle;
    fill: #fff;
  }
}
.offer__caption {
  margin-bottom: rem(10px);
  font-size: rem(14px);
  font-weight: 700;
  font-family: $raleway-bold;
  color: $gray-4;
  text-transform: uppercase;
}
.offer__item-text {
  margin-bottom: rem(20px);
  padding: 0 rem(10px);
  font-size: rem(14px);
  font-family: $raleway-medium;
  font-weight: 500;
  color: $gray-1;
}
.offer__btn {
  transition: none;
}
