.offer {
}
.offer__top {
  // @extend %clearfix;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 600px;
  padding: 16px 0;
  border-bottom: 2px solid $light-1;
  border-bottom: 2px solid red;
  box-sizing: border-box;
}
.offer__top .logo {
  max-width: 250px;
  // float: left;

}
.offer__top .menu {
  max-width: 750px;
  // float: right;
}
.offer__top .search {
  // float: right;
}
