.prices {
  position: relative;
  background-color: $bg-3;
  border-bottom: 2px solid $light-1;
}
.prices__header {
  position: relative;
  margin-bottom: rem(40px);
  padding-top: rem(80px);
  text-align: center;
  z-index: 60;
  &::before, &::after {
    content: "";
    position: absolute;
    top: rem(86px);
    left: 0;
    margin: 0;
    width: 100%;
    height: rem(1px);
    background-color: #dedede;
    background-image: linear-gradient(to right, #f9f9f9 0%, transparent 20%,
      transparent 50%, transparent 80%, #f9f9f9 100%);
    z-index: 40;
  }
  &::after {
    top: rem(92px);
  }
}
.prices__title {
  position: relative;
  @include inline-block($valign: top);
  padding: 0 rem(60px);
  margin-bottom: rem(15px);
  font-family: $raleway-extrabold;
  font-size: rem(26px);
  line-height: rem(20px);
  color: $accent;
  background-color: $bg-3;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 50;
  & b {
    color: $gray-4;
  }
}
.prices__intro {
  font-size: rem(16px);
  font-weight: 500;
  line-height: 1;
   color: #7a7a7a;
}
.prices__hexagon-left,
.prices__hexagon-right {
  position: absolute;
  top: rem(1px);
  left: rem(25px);
  width: rem(15px);
  height: rem(15px);
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 100;
  background-color: $accent;
}
.prices__hexagon-left--md,
.prices__hexagon-right--md {
  top: rem(2px);
  left: rem(17px);
  width: rem(12px);
  height: rem(12px);
  background-color: $bg-8;
  z-index: 90;
}
.prices__hexagon-left--sm,
.prices__hexagon-right--sm {
  top: rem(3.5px);
  left: rem(11px);
  width: rem(9px);
  height: rem(9px);
  background-color: $bg-9;
  z-index: 80;
}
.prices__hexagon-right {
  left: rem(335px);
}
.prices__hexagon-right--md {
  left: rem(345px);
}
.prices__hexagon-right--sm {
  left: rem(355px);
}
.prices__list {
  @extend %ul-reset;
  @extend %clearfix;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  padding-bottom: rem(80px);
}
.prices__item {
  position: relative;
  width: 23%;
  padding: 0 rem(20px);
  text-align: center;
  border: 1px solid $gray-5;
  border-radius: 4px;
  box-sizing: border-box;
  background-color: transparent;
  cursor: pointer;
  &:hover {
    .prices__type {
      padding: 0 5.5%;
      .prices__type-star-pre,
      .prices__type-star-next {
        opacity: 1;
        padding: 0 rem(15px);
      }
    }
    .prices__btn {
      background-color: $accent-active;
    }
  }
}
.prices__type-wrap {
  position: absolute;
  top: rem(-20px);
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 30;
  width: 100%;
  font-size: 0;
}
.prices__type {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  padding: 0 rem(15px);
  height: rem(40px);
  background-color: $bg-2;
  border-radius: 4px;
  word-wrap: break-word;
  box-sizing: border-box;
}
.prices__type-text {
  display: inline-block;
  vertical-align: middle;
  color: $light-2;
  font-family: $raleway-bold;
  font-size: rem(13px);
  text-align: center;
  line-height: rem(40px);
  font-weight: 700;
  text-transform: uppercase;

}
.prices__type-star-pre,
.prices__type-star-next {
  display: inline-block;
  vertical-align: middle;
  margin-top: rem(-2px);
  padding: 0;
  opacity: 0;
  transition: .3s ease;
  box-sizing: border-box;
  svg {
    fill: $accent;
  }
}
.prices__type-star-pre {
  padding-left: 0;
}
.prices__type-star-next {
  padding-right: 0;
}

.prices__coast {
  padding-top: rem(40px);
  padding-bottom: rem(22px);
  color: $gray-2;
  font-family: $raleway-medium;
  font-size: rem(20px);
  line-height: 1;
  font-weight: 500;
  border-bottom: 1px solid $bg-3;
  span {
    position: relative;
    padding-left: rem(5px);
    padding-right: rem(10px);
    color: $gray-4;
    font-family: $raleway-bold;
    font-size: rem(60px);
    line-height: 1;
    font-weight: 700;
    text-transform: uppercase;
    sup {
      top: -2em;
      right: -0.3em;
      font-size: rem(16px);
    }
    &::after {
      content: "";
      position: absolute;
      bottom: rem(15px);
      right: rem(10px);
      width: rem(12px);
      height: rem(12px);
      background-color: $bg-2;
      transform: rotate(45deg);
      border-radius: 3px;
    }
  }
  & i {
    font-style: normal;
    font-size: rem(12px);
    font-family: $raleway-medium;
  }
}
.prices__type-list {
  @extend %ul-reset;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;
  padding: rem(12px) 0;
  border-bottom: 1px solid $bg-3;
}
.prices__type-item {
  font-size: rem(14px);
  line-height: rem(40px);
}
.prices__btn {
  margin: rem(25px) 0;
  padding: rem(6px) rem(25px);
  font-size: rem(13px);
  color: $gray-5;
  background-color: $accent;
  border: none;
  &:hover {
    background-color: $accent-active;
  }
}
.prices__btn-card {
  display: none;
  margin-top: rem(50px);
  margin-bottom: rem(107px);
  width: 100%;
  height: rem(40px);
  background-color: $accent;
  color: #e4e4e4;
  font-family: $raleway-extrabold;
  font-size: rem(13px);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background-color: $accent-active;
  }
}
@media screen and #{($desktop-point-widths-des)} {

}
@media screen and #{($laptop-point-widths-des)} {

}
@media screen and #{($tablet-point-widths-des)} {
  .prices__header {
    &::before, &::after {
      display: none;
    }
  }
  .prices__list {
    display: block;
    margin-left: -10%;
    padding-bottom: 0;
  }
  .prices__item {
    float: left;
    width: 40%;
    margin-left: 10%;
    margin-bottom: 30px;
    &:nth-child(n+3) {
      display: none;
    }
  }
  .prices__btn-card {
    display: block;
    margin-top: 20px;
    margin-bottom: 40px;
  }
}
@media screen and #{($phone-point-widths-des)} {
  .prices__list {
    margin-left: 0;
  }
  .prices__item {
    float: none;
    width: 70%;
    margin-left: 0;
    margin: 0 auto 40px;
    &:nth-child(n+2) {
      display: none;
    }
  }
}
