.search {
  position: relative;
  display: block;
  cursor: pointer;
  padding: rem(10px);
  .search__icon svg {
    fill: $gray-3;
  }
  &:hover {
    .search__icon svg {
      fill: $accent;
    }
    .search__form {
      display: block;
    }
    .search__form-wrap {
      top: rem(74px);
    }
  }
}
.search__icon {
  display: block;
}
.search__form-wrap {
  position: absolute;
  top: rem(95px);
  right: 0;
  transition: .4s ease;
  &:before {
    content: "";
    position: absolute;
    top: rem(-50px);
    right: 0;
    width: rem(40px);
    height: rem(55px);
    background-color: #ccc;
    opacity: 0;
  }
}
.search__form {
  display: none;
  margin: 0;
  width: rem(320px);
  padding: rem(15px);
  background-color: rgba(52, 152, 219, .2);
  transition: .4s ease;
}
.search__form input {
  margin: 0;
  padding: 0;
  border: 0;
  outline: none;
  display: block;
  width: 100%;
  height: rem(40px);
  padding: 0 rem(10px);
  font-size: rem(16px);
  line-height: $lin-height-base;
  font-family: $raleway-regular;
  font-weight: 700;
  color: $gray-4;
  border: 2px solid $light-1;
  border-radius: 4px;
  text-overflow: ellipsis;
  box-sizing: border-box;
  &:focus {
    border-color: $accent;
  }
}

@media screen and #{($tablet-point-widths-des)} {
  .menu--opened {
    .search {
      position: absolute;
      top: rem(335px);
      left: rem(-384px);
      &:hover {
        .search__form-wrap {
          top: rem(44px);
        }
      }
    }
    .search__form-wrap {
      top: rem(80px);
      right: rem(-260px);
      &:before {
        right: 0;
        top: rem(-40px);
        width: rem(300px);
        height: rem(50px);
      }
    }
    .search__form {
      width: rem(275px);
    }
  }
}
