.skills {
  position: relative;
  color: $gray-1;
  background-color: $bg-2;
}
.skills__sec-pict {
  position: absolute;
  top: rem(-27px);
  left: 50%;
  z-index: 40;
  transform: translateX(-50%) rotate(45deg);
  width: rem(54px);
  height: rem(54px);
  background-color: $accent;
  border-radius: 3px;
  svg {
    fill: #fff;
  }
}
.skills__sec-icon {
  position: absolute;
  z-index: 30;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.skills__header {
  position: relative;
  margin-bottom: rem(50px);
  padding-top: rem(77px);
  text-align: center;
  z-index: 60;
}
.skills__title {
  position: relative;
  @include inline-block($valign: top);
  padding: 0 rem(20px);
  margin-bottom: rem(15px);
  font-family: $raleway-extrabold;
  font-size: rem(26px);
  line-height: rem(20px);
  color: $light-2;
  background-color: transparent;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 50;
  & b {
    color: $accent;
  }
}
.skills__intro {
  font-size: rem(16px);
  font-weight: 500;
  line-height: 1;
}
.skills__hexagon-left,
.skills__hexagon-right {
  position: absolute;
  top: rem(1px);
  left: rem(-18px);
  width: rem(15px);
  height: rem(15px);
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 100;
  background-color: $accent;
}
.skills__hexagon-left--md,
.skills__hexagon-right--md {
  top: rem(2px);
  left: rem(-30px);
  width: rem(12px);
  height: rem(12px);
  background-color: $bg-8;
  z-index: 90;
}
.skills__hexagon-left--sm,
.skills__hexagon-right--sm {
  top: rem(3.5px);
  left: rem(-38px);
  width: rem(9px);
  height: rem(9px);
  background-color: $bg-9;
  z-index: 80;
}
.skills__hexagon-right {
  left: rem(343px);
}
.skills__hexagon-right--md {
  left: rem(356px);
}
.skills__hexagon-right--sm {
  left: rem(367px);
}
.skills__list {
  @extend %ul-reset;
  display: flex;
  flex-flow: row wrap;
  justify-content:  space-between;
  padding-bottom: rem(70px);
}
.skill__item {
  max-width: rem(170px);
  width: 16.66%;
  text-align: center;
  margin-bottom: rem(20px);
}
.skill__circle {
  position: relative;
  display: block;
  width: rem(120px);
  height: rem(120px);
  margin: 0 auto;
  margin-bottom: rem(17px);
  border: 2px solid $accent;
  border-radius: 50%;
  box-sizing: border-box;
  & canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.skill__chart-number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: rem(16px);
  color: $light-2;
  font-family: $raleway-extrabold;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  & b {
    margin-right: rem(3px);
    font-size: rem(30px);
  }
}
.skill__caption {
  color: $gray-2;
  font-family: $raleway-extrabold;
  font-size: rem(14px);
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
}
