.works {
  position: relative;
  color: $gray-4;
  background-color: $bg-3;
}

.works__header {
  position: relative;
  margin-bottom: rem(50px);
  padding-top: rem(80px);
  text-align: center;
  z-index: 60;
  &::before, &::after {
    content: "";
    position: absolute;
    top: rem(85px);
    left: 0;
    margin: 0;
    width: 100%;
    height: rem(1px);
    background-color: #dedede;
    background-image: linear-gradient(to right, #f9f9f9 0%, transparent 20%,
      transparent 50%, transparent 80%, #f9f9f9 100%);
    z-index: 40;
  }
  &::after {
    top: rem(92px);
  }
}
.works__title {
  position: relative;
  @include inline-block($valign: top);
  padding: 0 rem(60px);
  margin-bottom: rem(10px);
  font-family: $raleway-extrabold;
  font-size: rem(26px);
  line-height: rem(20px);
  color: $gray-4;
  background-color: $bg-3;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 50;
  & b {
    color: $accent;
  }
}
.works__intro {
  font-size: rem(16px);
  font-weight: 500;
  line-height: 1;

}
.works__hexagon-left,
.works__hexagon-right {
  position: absolute;
  top: rem(1px);
  left: rem(25px);
  width: rem(15px);
  height: rem(15px);
  border-radius: 2px;
  transform: rotate(45deg);
  z-index: 100;
  background-color: $accent;
}
.works__hexagon-left--md,
.works__hexagon-right--md {
  top: rem(2px);
  left: rem(16px);
  width: rem(12px);
  height: rem(12px);
  background-color: $bg-8;
  z-index: 90;
}
.works__hexagon-left--sm,
.works__hexagon-right--sm {
  top: rem(3.5px);
  left: rem(9px);
  width: rem(9px);
  height: rem(9px);
  background-color: $bg-9;
  z-index: 80;
}
.works__hexagon-right {
  left: rem(288px);
}
.works__hexagon-right--md {
  left: rem(299px);
}
.works__hexagon-right--sm {
  left: rem(308px);
}
.works__list {
  @extend %ul-reset;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.works__item {
  position: relative;
  max-width: rem(320px);
  max-height: rem(250px);
  background-color: $gray-2;
  border-radius: 4px;
  border: 1px solid #fff;
  &:hover {
    .works__overlay {
      opacity: 1;
    }
    .works__overlay-icon-left {
      left: rem(-40px);
    }
    .works__overlay-icon-right {
      right: rem(-40px);
    }
  }
}
.works__pict {
  border-radius: 4px;
  width: rem(320px);
  height: rem(250px);
  overflow: hidden;
}
.works__overlay {
  @extend %absolute-center;
  padding-top: rem(40px);
  text-align: center;
  color: $light-2;
  background-color: $bg-4;
  border-radius: 4px;
  opacity: 0;
  cursor: pointer;
  transition: all .5s ease;
}
.works__overlay-icones {
  position: relative;
  @include inline-block($valign: top);
}
.works__overlay-icon-left,
.works__overlay-icon-right {
  position: absolute;
  top: 0;
  border-radius: 4px;
  transition: .3s ease;
}
.works__overlay-icon-left {
  left: rem(-150px);
  background-color: $bg-1;
  transform: rotate(45deg);
  transition: .3s ease;
}
.works__overlay-icon-right {
  right: rem(-150px);
  background-color: $bg-1;
  transform: rotate(45deg);
}
.works__overlay-link {
  display: block;
  width: rem(40px);
  height: rem(40px);
  & svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    fill: $accent;
  }
  &:hover {
    border-radius: 4px;
    background-color: $gray-4;
    & svg {
      fill: #fff;
    }
  }
}
.works__overlay-title {
  padding-top: rem(40px);
  margin-bottom: rem(10px);
  font-family: $raleway-bold;
  font-size: rem(16px);
  font-weight: 700;
}
.works__overlay-text {
  margin-bottom: rem(15px);
  font-family: $raleway-medium;
  font-weight: 500;
  font-size: rem(12px);
  line-height: rem(22px);
}
.works__overlay-heart {
  @include inline-block($valign: top);
  font-size: rem(12px);
  font-weight: 500;
  line-height: rem(22px);
  svg {
    margin-left: rem(5px);
    fill: $light-2;
  }
  &:hover svg {
    fill: $gray-4;
  }
}
.works__btn {
  margin-top: rem(50px);
  margin-bottom: rem(107px);
  width: 100%;
  height: rem(40px);
  background-color: $accent;
  color: #e4e4e4;
  font-family: $raleway-extrabold;
  font-size: rem(13px);
  text-align: center;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 5px;
  &:hover {
    background-color: $accent-active;
  }
}
@media screen and #{($laptop-point-widths-des)} {
  .works__list {
    flex-wrap: wrap;
  }
  .works__item {
    display: block;
    max-width: 30%;
    &:nth-child(n+4) {
      display: none;
    }
  }
  .works__pict {
    width: 100%;
    height: 100%;
  }
}
@media screen and #{($tablet-point-widths-des)} {
  .works__item {
    max-width: 49%;
    max-height: inherit;
    &:nth-child(n+2) {
      display: none;
    }
  }
  .works__header {
    &::before, &::after {
      display: none;
    }
  }
  .works__overlay {
    padding-top: rem(80px);
  }
}
@media screen and #{($phone-point-widths-des)}{
  .works__list {
    display: block;
  }
  .works__item {
    max-width: 64%;
    margin: 0 auto 20px;
  }
  .works__hexagon-right,
  .works__hexagon-left {
    display: none;
  }
}
