//Переменные//
//Шрифты//
$raleway-regular: "RalewayRegular", "Arial", sans-serif;
$raleway-medium: "RalewayMedium", "Arial", sans-serif;
$raleway-bold: "RalewayBold", "Arial", sans-serif;
$raleway-extrabold: "RalewayExtraBold", "Arial", sans-serif;

//Цвета, фон//
$accent: #3498db;
$accent-active: #45687F;

$gray-1: #7a7a7a;
$gray-2: #8a8a8a;
$gray-3: #606060;
$gray-4: #383838;
$gray-5: #e4e4e4;
$gray-6: #aaa;

$blue-1: #3498db;
$blue-2: #00a99d;;

//shadows, borders, rgba, other
$light-1: #dedede;
$light-2: #e4e4e4;
$light-3: #ffffff;


//background-colors:
$bg-1: #fff;
$bg-2: #383838;
$bg-3: #f9f9f9;
$bg-4: rgba(52, 152, 219, 0.80);
$bg-5: #333;
$bg-6: rgba(255, 255, 255, .7);
$bg-7: rgba(255, 255, 255, .4);
$bg-8: rgba(52, 152, 219, 0.7);
$bg-9: rgba(52, 152, 219, 0.4);

$bg-gradient: linear-gradient(to right, #f9f9f9 0%, transparent 20%,
  transparent 50%, transparent 80%, #f9f9f9 100%);
//размер шрифта//
$font-size-base: 16px;
$font-size-desktop: 16px;
$font-size-laptop: 15px;
$font-size-tablet: 14px;
$font-size-phone: 13px;
$lin-height-base: 24px/$font-size-base;

//брейкпоинты//
//Mobile//
$desktop-point-widths: "(min-width: 1200px)";
$laptop-point-widths: "(min-width: 868px)";
$tablet-point-widths: "(min-width: 520px)";
//Desktop//
$desktop-point-widths-des: "(max-width: 1200px)";
$laptop-point-widths-des: "(max-width: 992px)";
$tablet-point-widths-des: "(max-width: 768px)";
$phone-point-widths-des: "(max-width: 520px)";

//макс-ширина на устройствах//
$desktop-max-widths: 1170px;
$laptop-max-widths: 992px;
$tablet-max-widths: 768px;
$phone-max-widths: 480px;

//мин-ширина на устройствах//
$desktop-min-widths: 1170px;
$laptop-min-widths: 992px;
$tablet-min-widths: 768px;
$phone-min-widths: 480px;

//ширины контейнера//
$desktop-inner-width: 1170px;
$laptop-inner-widths: 950px;
$tablet-inner-widths: 740px;
$phone-inner-widths: 300px;

//Ретина//
$retina: "(min-resolution: 144dpi), (min-resolution: 1.5dppx)";
